<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="UTF-8">

    <meta
        name="viewport"
        content="width=device-width, initial-scale=1.0"
    >

    <title>
        Forgot Password
    </title>

    <link
    rel="stylesheet"
    href="{{ url_for('static', filename='login.css') }}"
    >

</head>

<body>

    <!-- CURSOR GLOW -->

    <div class="cursor-glow"></div>

    <!-- BLUR -->

    <div class="blur blur1"></div>
    <div class="blur blur2"></div>

    <!-- MAIN -->

    <div class="login-container">

        <!-- LEFT -->

        <div class="left-panel">

            <p class="small-text">

                PASSWORD RECOVERY

            </p>

            <h1>

                Reset your <br>
                account access.

            </h1>

            <p class="description">

                Enter your email address to
                securely reset your password.

            </p>

        </div>

        <!-- RIGHT -->

        <div class="right-panel">

            <div class="glass-card">

                <h2>
                    Forgot Password
                </h2>

                <p class="login-sub">

                    Reset your account password.

                </p>

                <!-- SUCCESS MESSAGE -->

                {% if success %}

                <div class="success-box">

                    {{ success }}

                </div>

                {% endif %}

                <!-- FORM -->

                <form method="POST">

                    <input
                    type="email"
                    name="email"
                    placeholder="Email Address"
                    required
                    >

                    <button
                    type="submit"
                    class="glow-btn"
                    >

                        Continue

                    </button>

                </form>

                <p class="bottom-text">

                    Back to

                    <a href="/login">

                        Login

                    </a>

                </p>

            </div>

        </div>

    </div>

<script
src="{{ url_for('static', filename='script.js') }}">
</script>

</body>
</html>